body {
  background-color: rgb(132, 132, 132);
}
canvas {
  background-color: aliceblue;
  border: none;
  border-radius: 20px;
}
.function {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
  max-height: 500px;
  gap: 3px;
  width: 35px;
  margin-top: 5%;
  margin-right: 10px;
  border-radius: 10px;
}
button {
  background-color: rgb(132, 132, 132);
  border: none;
  border-radius: 10px;
  height: 35px;
  width: 35px;
  font-size: medium;
  font-family: Calibri;
  opacity: 80%;
  margin-top: 5px;
  transition: background-color 0.4s ease;
}
button:hover {
  background-color: #e4d39f;
}
.canvas-container {
  display: flex;
  flex-direction: column;
}
.edit {
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
  font-size: 18px;
  background-color: #696969;
  border-radius: 20px;
  align-items: center;
}
.edit button {
  background-color: #696969;
  border: none;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  font-size: small;
  font-family: Calibri;
  opacity: 80%;
  margin-right: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
  color: #161616;
  transition: background-color 0.3s ease;
}
.slider-container {
  background-color: #7e7d7d;
  display: flex;
  align-items: center;
  color: #232323;
  border-radius: 30px;
  margin-left: 10px;
  padding-left: px;
  height: 30px;
  width: 170px;
}
#slider {
  height: 5px;
}
.brush-size {
  margin-left: 10px;
  border-radius: 50%;
  background-color: #232323;
  width: 5px;
  height: 5px;
  flex-shrink: 0;
}

.edit button:hover {
  background-color: #a9a9a9;
}
.edit button:active {
  background-color: #dddddd;
  transform: translateY(1px);
}
.grid {
  background-color: #7e7d7d;
  display: flex;
  align-items: center;
  padding: 1%;
  font-size: medium;
  color: #232323;
  border-radius: 30px;
  gap: 4px;
  margin-left: 10px;
  height: 5px;
}
.picker-area {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-top: 3.5%;
  margin-bottom: 5px;
  border-radius: 10px;
}
.color-display-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding-left: 10px;
}
#color-codes {
  padding-left: 0;
  align-items: flex-start;
}
#color-codes li {
  color: #fffbfb;
  list-style: none;
  font-family: serif;
  font-size: smaller;
}
.color-indicator {
  margin-right: 5px;
  width: 30px;
  height: 50px;
  background: #ffffff;
  border-radius: 10px;
}
#color-picker {
  display: fixed;
  margin-left: 20px;
}
