body {
  background-color: rgb(132, 132, 132);
}
canvas {
  background-color: aliceblue;
  border: none;
  border-radius: 20px;
}
.function {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
  max-height: 500px;
  gap: 3px;
  width: 90px;
  height: 600px;
  margin-top: 5%;
  margin-right: 10px;
  border-radius: 10px;
  background-color: rgb(141, 140, 140);
}
.button-group {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 79px;
}
.slide-options {
  position: absolute;
  display: flex;
  right: 38px;
  padding-right: 3px;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  transform: translateX(0);
  opacity: 0;
  pointer-events: none;
}
.button-group:hover .slide-options {
  transform: translateX(-10px);
  opacity: 1;
  pointer-events: auto;
  z-index: 10;
}
button {
  border: none;
  border-radius: 10px;
  height: 38px;
  width: 38px;
  font-size: larger;
  font-family: Calibri;
  box-shadow: 0 5px 0 #373737;
  opacity: 80%;
  margin-top: 5px;
}
button:hover {
  background-color: #acc5e0;
}
.canvas-container {
  display: flex;
  flex-direction: column;
}
.edit {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  font-size: 18px;
}
.edit button {
  background-color: rgb(167, 165, 165);
  border: none;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  font-size: large;
  font-family: Calibri;
  opacity: 80%;
  margin-top: 5px;
  margin-right: 5px;
  color: rgb(255, 255, 255);
}
.edit button:hover {
  background-color: #acc5e0;
}
.edit button:active {
  background-color: #dddddd;
  transform: translateY(1px);
}
.grid {
  background-color: rgb(100, 100, 100);
  display: flex;
  align-items: center;
  padding: 1%;
  color: #ededed;
  border-radius: 30px;
  gap: 4px;
  margin-left: 20px;
  margin-top: auto;
  height: 10px;
}
.picker-area {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-top: 3.5%;
  margin-bottom: 5%;
  border-radius: 10px;
}
.color-display-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 10px;
}
#color-codes {
  padding-left: 0;
}
#color-codes li {
  color: #fffbfb;
  list-style: none;
  font-family: serif;
  font-size: smaller;
}
.color-indicator {
  display: fixed;
  margin-right: 15px;
  width: 50px;
  height: 50px;
  background: #ffffff;
  border-radius: 10px;
}
#color-picker {
  display: fixed;
  margin-left: 20px;
}
